@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
body {
  overflow-x: hidden;
}

.header {
  font-weight: bold;
  width: 100v;
  height: 60px;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
  text-align: center;
}
.header-logo {
  width: 15vw;
  display: flex;
  align-items: center;
}
.header-logo img {
  width: 10vw;
  height: 40px;
  margin: auto;
  object-fit: contain;
  align-self: center;
}
.header-item {
  width: 58vw;
}
.header-icons {
  justify-content: center;
  display: flex;
  width: 20vw;
  align-items: center;
}
.header-icons .search-icon {
  padding-right: 1vw;
}
.header-icons .cart-icon {
  padding-right: 1vw;
}
.header-icons p {
  font-weight: bolder;
}
.header-drawer {
  width: 7vw;
}
.header-item ul {
  width: max-content;
  margin: auto;
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
.header-item li {
  padding-right: 20px;
}
.tile1 {
  position: relative;
}
.scroll-items {
  position: absolute;
  right: 55vw;
  top: 10vw;
  z-index: 1;
}
.scroll-img {
  position: absolute;
  right: 10vw;
  width: 50vw;
}
.scroll-text-1 {
  text-align: center;
  width: max-content;
  align-items: center;
  margin: 5px;
  padding: 15px;
  font-size: 3vw;
  font-weight: bolder;

  background-color: #277de5;
}
.scroll-text-2 {
  text-align: center;
  width: max-content;
  margin: 5px;
  align-items: center;
  font-size: 3vw;
  font-weight: bolder;
  padding: 15px;
  background-color: #277de5;
}
.scroll-anchor {
  text-align: center;
  width: max-content;
  margin: 5px;
  font-size: 1.5vw;
  font-weight: lighter;
  align-items: center;
  padding-top: 10px;
}
.scroll-img img {
  width: 50vw;
}

.filler-1 {
  height: 40vw;
}

.main {
  width: 100vw;
}
#container {
  display: flex;
  padding-top: 15vh;
  width: 100vw;
  height: 80vh;
  z-index: 10;
}

::-webkit-scrollbar {
  display: none;
}
.container-leftbar {
  max-width: 30vw;
  padding-left: 15vw;
}
.container-leftbar p {
  padding-right: 10px;
  color: #277de5;
}
.container-leftbar img {
  height: 20px;
}
.container-body {
  padding-left: 10vw;
  padding-right: 10vw;
  height: 10px;
  width: max-content;
}

.vertical-line {
  height: 65vh;
  width: 10px;

  margin-left: 9px;
  margin-top: 20px;
  border-left: solid;
  border-width: 1px;
  border-color: #277de5;
}

.container2 {
  background-color: #fbdbdb;
}
.container4 {
  background-color: #fbdbdb;
}
.container6 {
  background-color: #fbdbdb;
}

.footer {
  position: relative;
  height: 60vh;
  width: 100vw;
  background-color: black;
}
.footer-top {
  color: white;
  position: absolute;
  display: flex;
}
.footer-left {
  width: max-content;
  margin-right: 15vw;
  padding-left: 15vw;
  padding-top: 15vh;
}
.footer-left img {
  height: 30px;
}
.footer-left p {
  font-weight: lighter;
  height: 30px;
}
.footer-right {
  display: flex;
  padding-top: 15vh;
  width: 50vw;
}
.footer-lower {
  height: 20px;
  font-weight: lighter;
  color: white;
  display: flex;
  position: absolute;
  bottom: 30px;
}
#footer-text {
  width: 33vw;
  text-align: center;
}
